@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-areas: 
        "header header header"
        "welcome welcome welcome"
        "todo todo todo"
        "todo todo todo"
        "todo todo todo";
    }
    .calendar, .days {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
}