/*Handles design for mobile screens*/
@media screen and (max-width: 550px) {
    .grid-container {
        grid-template-areas:
            "header header header"
            "welcome welcome welcome"
            "todo todo todo"
            "todo todo todo"
            "todo todo todo";
    }

    .calendar,
    .days {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    .welcome {
        font-size: 1.4rem;
    }

    .todo ul {
        max-height: 51vh;
}
}

/*Handles design for tablets*/
@media screen and (max-width: 980px) {
    .welcome {
        font-size: 1rem;
    }
    .todoNumber {
        font-size: 0.4rem;
        width: 0.4rem;
        
    }
}
