* {
    margin: 0;
    padding: 0;
    font-family: 'Mountains of Christmas', cursive;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 2rem 6rem 1fr 1fr;
    grid-template-areas: "header header header" "welcome days days" "welcome calendar calendar" "todo calendar calendar" "todo calendar calendar";
}

header {
    grid-area: header;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./snowflake-554635_1920.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-size: 3.5rem;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.welcome {
    grid-area: welcome;
    background-color: rgb(41, 41, 66);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

img {
    height: 4rem;
}

.todo {
    grid-area: todo;
    background-color: rgb(164, 194, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.headingandlist {
    text-align: center;
}

.todo input[type=checkbox] {
    margin-right: 0.7rem;
}

.todo ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1.3rem;
    font-size: 1.5rem;
}

.todo input[type=text] {
    padding: 0.47rem;
    border: none;
}

.inputandbutton {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.todo_input {
    width: 50%;
}

.date_input {
    width: 15%;
}

.todo button {
    border: .01rem solid white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: none;
    color: white;
}

.todo button:hover {
    background-color: rgb(28, 110, 177);
    color: white;
}

.calendar {
    grid-area: calendar;
    background-color: rgb(192, 207, 212);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.days {
    grid-area: days;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(192, 207, 212);
    color: white;
    font-size: 1.3rem;
}

.calendarBoxes {
    border: lightgray solid 1px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}