* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Mountains of Christmas', cursive;

}

.grid-container {
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 2rem 6rem 1fr 1fr;
    grid-template-areas: "header header header" "welcome days days" "welcome calendar calendar" "todo calendar calendar" "todo calendar calendar";
}

header {
    grid-area: header;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./snowflake-554635_1920.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 3.5rem;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.welcome {
    grid-area: welcome;
    /* background-color: #1b2235; */
    background-color: #1A1B20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

img {
    height: 4rem;
}

.todo {
    grid-area: todo;
    background-color: #242e47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headingandlist {
    text-align: center;
}

.todo input[type=checkbox] {
    margin-right: 0.7rem;
}

.todo ul {
    list-style-type: none;
    font-size: 1rem;
    padding: 0.5rem;
    max-height: 14rem;
    width: 25vw;
    overflow: auto;
    font-family: Verdana, Tahoma, sans-serif;

}

.todo li {
    padding: 0.4rem;
}

.todo input[type=text] {
    padding: 0.47rem;
    border: none;
    color: black;
}

.inputandbutton {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 1rem;

}

.todo_input {
    width: 50%;
    height: 1.2rem;
}

.date_input {
    width: 15%;
    height: 1.2rem;
}

.todo button {
    margin-top: 1rem;
    border: .01rem solid white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: none;
}

.todo button:hover {
    background-color: rgb(28, 110, 177);
    color: white;
}

.calendar {
    grid-area: calendar;
    background-color: #1A1B20;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.days {
    grid-area: days;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B20;
    font-size: 1.3rem;
}

.calendarBoxes {
    border: lightgray solid 1px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoNumber {
    font-size: 1rem;

}